.env
*.env
secrets.json

venv/
.venv/
env/
ENV/
pyenv.cfg
.pytest_cache/

**/__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

project/data/job_history.log
project/data/classifier.pkl
#project/data/jobs.csv
#project/data/jobs.db